@import url('header.css');
@import url('main.css');

@font-face {
    font-family: 'Bodoni';
    src: url('../font/BodoniXT.ttf'), format('truetype');
}

html::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Bodoni', sans-serif;
    overflow-x: hidden;
    background-color: #f4f5f7;
    font-weight: 400;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #555555;
}

p {
    margin: 0;
}